.DS_Store
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.xccheckout
*.moved-aside
.swiftpm/
.build/
timeline.xctimeline
playground.xcworkspace
Pods/
*.podspec.json
Carthage/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
*.zip
